:root{
    --lg-font-family: 'Kaisei Tokumin', serif;
    --sm-font-family: 'Poppins', sans-serif;
}

 body{ 
    font-family: var(--sm-font-family);
    overflow-x: hidden;
} 

section{
    padding-top: 100px;
    padding-bottom: 50px;
}

.logo{
    width: 36px;
    margin-right:5px;
}

.navbar-brand span{
    font-family: var(--lg-font-family)!important;
    letter-spacing: 2px;
}

.navbar{
    padding-bottom: 0;
}

.navbar-nav{
   margin-left: auto;
}

.navbar-nav .nav-link:hover{
  color: red;
}

.navbar-collapse {
    text-align: center;
    box-shadow: 0px 15px 10px -15px #19875430;
}

@media (min-width:992px)
{
    .navbar-collapse{
        box-shadow: none;
    }
}

.navbar-toggler:focus{
    box-shadow: none !important;
}

.img-header{
    height: 100vh;
    width: 100vw;
    background-position: top;
    background-size: cover;
}


@media (max-width:800px)
{
    .img-header{
        height: 60vh;
        width: 100vw;
        background-position: top;
        background-size: cover;
        object-fit: fill;
    }
    span.navbar-toggler-icon{
        width: 1.5rem;
        height: 1.5rem;
    }
}

/*********_Collaction_**********/

.title{
    color: #e42451;
}

.collection-button .btn{
    background-color: transparent;
    border: 1px solid black;
    color: white;
    border-radius: 100px;
}

.collection-button .btn:hover{
  background-color: #e42451dc !important;
  border: 1px solid black;
}

.collection-img {
   border: 1px solid rgba(255, 0, 0, 0.452);
   width: 100%;
   overflow: hidden;
}

.collection-img img{
    width: 100%;
    height: 100%;
    transition: all .5s ease;
    cursor: pointer;
}

.collection-img:hover img{
    transform: scale(1.2);
}

.collection-img span{
    top: 3px;
    right: 3px;
    width: 60px;
    height: 30px;
    border-radius: 1px;
    font-size: larger;
}

span.bg-dark{
    background-color:#FFCD34!important;
}

.text-content-collection .fa-star{
  color: #e42451e7;
}

.title-contant .hline{
    width: 10vw;
    height: 2px;
    background-color: #083132;
    position: absolute;
    top: 60px;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*************_Special_******************/

.img-special{
    height: 430px;
    border: 1px solid green;
}

.img-special img{
    width: 100%;
    height: 100%;
}

.content-special{
    text-align: center;
    margin: .6rem auto;
}

.content-special .btn{
    background-color: transparent;
    border: 1px solid black;
    color: white;
    border-radius: 100px;
}

.content-special .btn:hover{
  background-color: #e42451dc !important;
  border: 1px solid black;
}

.img-special span {
    top: 10px;
    right: 20px;
    font-size: 1.5rem;
    color: #e42451;
}

@media (max-width:765px){
    .img-special{
        height: 600px;
        border: 1px solid green;
    }
    
}

/*************_blog_**************/

.blog-contant .hline{
    width: 10vw;
    height: 2px;
    background-color: #083132;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

.image-blog img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-position: center;
}

.content-blog p{
    letter-spacing: 1px;
}

.content-blog .btn{
    background-color: transparent;
    border: 1px solid black;
    color: white;
    border-radius: 100px;
}

.content-blog .btn:hover{
  background-color: #e42451dc !important;
  border: 1px solid black;
}

/********_About_**********/

.content-about .btn{
    background-color: transparent;
    border: 1px solid black;
    color: white;
    border-radius: 100px;
}

.content-about .btn:hover{
  background-color: #e42451dc !important;
  border: 1px solid black;
}

.content-about p{
    letter-spacing: 1px;
    line-height: 2;
}

/*************************/

.input-group .btn{
    background-color: transparent;
    border: 1px solid black;
    color: #fff;
    border-radius: 100px;
}

.input-group .btn:hover{
    background-color: #e42451dc !important;
  border: 1px solid black;
}

.populare-contant .hline{
    width: 10vw;
    height: 2px;
    background-color: #083132;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

#populare p{
    max-width: 600px;
}

#contact .input-group{
    max-width: 500px;
}

#contact .form-control{
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

#contact .form-control:focus{
    box-shadow: none;
}


#contact .btn{
  background-color: #e42451;
}

#contact .btn:hover{
    background-color: transparent !important;
    color: black;
  }

  /**************_Footer_************/

  .brand{
    font-family: var(--lg-font-family);
    letter-spacing: 2px;
  }

  ul {
    list-style: none;
    padding-left: 0 !important;
    color: rgba(255, 255, 255, 0.24) !important;
  }



